.home {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.title {
    font-size: 250%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
}

.AI {
    color: red;
    font-size: 110%;
}

.intro {
    width: 100%;
    font-size: 85%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;
}