@import "Variables";

.home {
    margin-bottom: 5%;
    margin-right: 0%;
}

.title {
    font-size: 250%;
    letter-spacing: 2px;
    justify-content: space-around;
    margin-bottom: -15%;
}

.sub-title {
    font-style: italic;
}

.AI {
    color: $secondary-color;
    font-size: 110%;
}

.intro {
    padding: 5%;
    justify-content: space-around;
}

// NON-MOBILE
// -------------------------------
@media(min-width: 900px) {

    .intro {
        padding-bottom: 4%;
        font-size: 80%;
    }

    .home {
        margin-bottom: 2%;
    }

    .title{
        margin: -1%;
        padding: 0%;
    }


}