
.standard-table{
    background-color: white;
    color: black;
    border-radius: 1%;
    margin: 2%;
}

.row-headers{}

.table-row:hover {
    background-color: lightgrey;
}

.table-data:hover {
    background-color: grey;
}

.table-header:hover{
    background-color: ghostwhite;
    cursor: pointer;
}

.table-data{
    border: 2px solid grey;
    cursor: pointer;
    
}

.table-header{
    padding: 5%;
}