// colors
$main-background-color: #282c34;
$secondary-color: red;
$main-text-color: white;

//sizes
$default-font-size: calc(10px + 2vmin);

// buttons
$button-color: lightblue;
$button-hover-color: rgb(203, 240, 253);