
.settingsSelection {
    
}

.settingsSelectionSection {

}

.settingsSelectionSectionTitle {
    display: flex;
    justify-content: left;
    margin-left: 5%;
    margin-bottom: 1%;
}

.selectionFormButton {

}

.rowItem {
    display: flex;
    justify-content: center;
}